.dndPlaceholder {
    border: 1px dashed #c3c3c3;
    background: #ffd3b1;
}

.dndDraggingSource {
    opacity: 0.2;
}

.dndDragover {
    border: 1px dashed #c3c3c3;
}

.ui-draggable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.ui-draggable-dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.ui-droppable-hover {
    border: 2px dashed #ffd3b1;    
}